body{
    background-color: rgb(65, 163, 196);
}

#room_name{
    height:25px ; width: 800px; font-size: 20px;
    border-radius:5px;
    
}

#logout{
    width:80px;
    height:30px;
    background-color: red;
    color:white;
    font-size:15px;
    font-family: arial black, bold;
}

#title{
    text-align: right;
}
#add_room_button{
    width:120px;
    height:30px;
    font-size:20px;
    background-color:greenyellow;
}

.trending{
    background-color : skyblue;
    width:1250px;
    border-radius:20px;
}